 body {
  background-color: black;
  color: rebeccapurple;
}

.App{
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrappppper{
  width: 500px;
  background-color:  rgb(191, 136, 136);

  margin: 3px;
  border-radius: 15px;
  
}
.rowww{
  display: flex;
}